/* Start Variables */
:root {
    --main-color: #10cab7;
    --main-color-alt: #22DDCA;
    --sercondary-color: #2c4755;
    --section-background: #f6f6f6;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --mian-transition: 0.3s;
}
/* End Variables */

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
} 

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */

/* Start Main Title */
.main-title { 
    text-transform: uppercase;
    color: var(--sercondary-color);
    margin: 0 auto 80px;
    font-weight: bold;
    border: 2px solid var(--sercondary-color);
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: 0.5s;
}

@media (max-width: 767px) {
    .main-title {
        font-size: 1.5em;
    }
}

.main-title::before,
.main-title::after {
    content: "";
    width: 0px;
    height: 0px;
    background-color: var(--sercondary-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.main-title::before {
    left: -1px;
}

.main-title::after {
    right: -1px;
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

.main-title:hover {
    color: var(--section-background);
    border: 2px solid var(--section-background);
    transition-delay: 0.3s;
} 
/* End Main Title */

/* Start Header */
.header {
    background-color: var(--section-background);
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.header .logo {
    color: var(--main-color);
    font-size: 2em;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Medium Screen */
@media (max-width: 993px) {
    .header .logo {
        font-size: 1.6em;
    }
}

/* Small Screen */
@media (max-width: 767px) {
    .header .logo {
        width: 100%;
        height: 50px;
        font-size: 1.2em;
    }
}

.header .main-nav {
    display: flex;
}

@media (max-width: 767px) {
    .header .main-nav {
        margin: auto;
    }
}

.header .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: var(--sercondary-color);
    padding: 0 30px;
    font-size: 18px;
}

@media (max-width: 767px) {
    .header .main-nav > li > a {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}
/* End Header */

/* Start Main */
.main {
    position: relative;
    min-height: calc(100vh);
    display: flex;
    align-items: center;
    background-color: #e1f5f3;
}

.main .container {
    margin: 0 0 0 10vw;
}

@media (max-width: 991px) {
    .main .container  {
        padding-left: 0;
    }
}

.main .my-name {
    color: var(--sercondary-color);
    font-size: 1.5em;
    font-weight: 600;
}

@media (max-width: 769px) {
    .main .my-name {
        font-size: 1.4em;
    }
}

.main h1 {
    color: var(--main-color);
    font-size: 3em;
    font-weight: 900;
}

@media (max-width: 769px) {
    .main h1 {
        font-size: 2em;
    }
}

.main .about-me {
    color: var(--sercondary-color);
    font-size: 1.8em;
    font-weight: 700;
}

@media (max-width: 769px) {
    .main .about-me {
        font-size: 1.6em;
    }
}

.main .my-work {
    padding: 16px 20px;
    border-radius: 15px;
    background-color: var(--main-color);
    color: var(--section-background);
    display: inline-block;
    margin: 0px 0 30px;
    font-size: 1.2em;
    font-weight: 600;
    transition: 0.5s;
}

@media (max-width: 769px) {
    .main .my-work { 
        padding: 12px 15px;
        margin: 0 0 20px;
        font-size: 1em;
    }
}

.main .my-work:hover {
    background-color: #0fa7a7;
}

.main .social-icons {
    height: 2.2em;
}

@media (max-width: 769px) {
    .main .social-icons {
        height: 1.8em;
    }
}

.main .social-icons a {
    font-size: 1.7em;
    padding: 4px;
    color: var(--sercondary-color);
    transition: 0.5s;
}

@media (max-width: 769px) {
    .main .social-icons a {
        font-size: 1.4em;
        padding: 3px;
    }
}

.main .social-icons a:hover {
    font-size: 2.2em;
}

@media (max-width: 769px) {  
    .main .social-icons a:hover {
        font-size: 1.8em;
    }
}
/* End Main */

/* Start Services */
.services {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.services .card {
    padding: 15px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
    border-radius: 15px;
    transition: var(--mian-transition);
}

.services .card i {
    color: var(--sercondary-color);
    display: flex;
    justify-content: center;
    font-size: 7em;
    margin-top: 25px;
}

.services .card h3 {
    color: var(--main-color);
    font-size: 2em;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    text-transform: capitalize;
}

.services .card p {
    text-align: center;
    color: var(--sercondary-color);
    font-weight: 600;
}

.services .card:hover {
    transform: translateY(-10px);
    box-shadow: 2px 15px 20px 5px rgb(0 0 0 / 20%);
}
/* End Services */

/* Start Projects */
.projects {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: #e7fdfb;
}

.projects .card {
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    overflow: hidden;
    height: 200px;
    position: relative;
    transition: var(--mian-transition);
}

@media (min-width: 1000px) {
    .projects .card:hover {
        transform: scale(1.1)
    }
}

@media (max-width: 993px) {
    .projects .card  {
        height: 220px;
    }
}

@media (max-width: 767px) {
    .projects .card {
        display: grid;
        width: 100%;
        height: 100%;
    }
}

.projects .card img {
    height: 100%;
    max-width: 400px;
}

@media (max-width: 993px) {
    .projects .card img {
        max-width: 45%;
    }
}

@media (max-width: 767px) {
    .projects .container img {
        max-width: 100%;
    }
}

.projects .card .content {
    margin-left: 3%;
    margin-right: 3%;
    width: 100%;
    position: relative;
}

.projects .card .info h3 {
    font-size: 1.8em;
    color: var(--main-color);
    text-transform: capitalize;
    white-space: break-spaces;
}

@media (max-width: 993px) {
    .projects .card .info h3 {
        font-size: 1.5em;
    }
}

.projects .card .info{ 
    position: relative;
}

.projects .card .info p {
    font-size: 1.4em;
    color: var(--sercondary-color);
    position: absolute;
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    top: 1em;
}

@media (max-width: 767px) {
    .projects .card .info p {
        position: relative;
        display: block;
        margin-top: -1em;
        white-space: normal;
        overflow:visible;
        text-overflow: clip;
        font-size: 1.4em;
    }
}

.projects .card .code {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    border-top: 1px solid #b7b7b7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 767px) {
    .projects .container .code {
        position: relative;
        margin-top: 80px;
    }
}

.projects .card .code a {
    color: var(--sercondary-color);
    font-weight: bold;
    text-transform: capitalize;
}

.projects .card .code i {
    color: var(--sercondary-color);
}

.projects .code:hover i {
    animation: moving-arrow 0.6s linear infinite;
}
/* End Projects */

/* Start Connect-Us */
.connect-us {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}

@media (max-width: 767px) {
    .connect-us {
        padding-bottom: 50px;
    }
}

.connect-us .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    .connect-us .container {
        flex-direction: column;
    }
}

.connect-us .container .card {
    text-align: center;
    padding: 25px 25px 5px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
    margin: 0 25px;
    background-color: white;
    transition: var(--mian-transition);
}

@media (max-width: 767px) {
    .connect-us .container .card{
        margin: 10px 0;
        width: 100%;
    }
}

.connect-us .container .card:hover {
    transform: scale(1.1);
}

.connect-us .container .card i {
    color: var(--sercondary-color);
    font-size: 5em;
    font-weight: 800;
}

.connect-us .container .card h3 {
    color: var(--main-color);
    margin-top: 0.2em;
    font-size: 2.2em;
    font-weight: bold;
}

.connect-us .container .card p {
    color: var(--sercondary-color);
    font-weight: bold;
    font-size: 1.5em;
    overflow-wrap: anywhere;
    height: 2em;
}
/* End Connect-Us */

/* Start Footer */
.footer {
    background-color: var(--sercondary-color);
    padding: 5px 50px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.6em;
    color: white;
}

@media (max-width: 991px) {
    .footer {
        font-size: 1.3em;
        padding: 5px 30px 0;
    }
}

@media (max-width: 767px) {
    .footer {
        font-size: 1em;
        flex-direction: column;
    }
}

.footer p span {
    color: var(--main-color);
}

.footer .social-icons {
    padding: 30px 0 0;
}

@media (max-width: 991px) {
    .footer .social-icons {
        font-size: 1.3em;
        padding: 0.7em 0 0;
    }
}

@media (max-width: 767px) {
    .footer .social-icons {
            width: fit-content;
            margin: -10px auto 10px;
        }
    }

.footer .social-icons a {
    color: white;
    padding: 5px;
}
/* End Footer */

/* Start Animation */

@keyframes left-move {
    100% {
        left: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}

@keyframes right-move {
    100% {
        right: 0;
        border-radius: 0;
        width: 51%;
        height: 100%;
    }
}

@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
    }
}
/* End Animation */